<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>Better Route</title>

    <link rel="stylesheet" href="https://js.arcgis.com/3.16/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
    <link rel="stylesheet" href="style.css" />
    
    <script type="text/javascript">
      var dojoConfig = {
          parseOnLoad: true
      };
    </script>
    <script src="https://js.arcgis.com/3.16/"></script>
    <script>
      require([
        "esri/urlUtils",
        "esri/config",
        "esri/map",
        "esri/graphic",            
        "esri/tasks/RouteTask",            
        "esri/tasks/RouteParameters",
        "esri/tasks/FeatureSet",            
        "esri/symbols/SimpleMarkerSymbol",
        "esri/symbols/SimpleLineSymbol",  
        "esri/Color",
        "dojo/_base/array",
        "dojo/on",
        "dojo/dom",
        "dijit/registry",
        "esri/tasks/geometry",
        "esri/units",
        "dijit/layout/BorderContainer",
        "dijit/layout/ContentPane",
        "dijit/form/HorizontalSlider",
        "dijit/form/HorizontalRuleLabels"
      ], function (
        urlUtils, esriConfig, Map, Graphic, RouteTask, RouteParameters,
        FeatureSet, SimpleMarkerSymbol, SimpleLineSymbol,           
        Color, array, on, dom, registry
      ) {
        var data = [
        "Disturbance of the Peace",-118.4838611,34.01306945,1,
        "Audible Burglar Alarm",-118.4555694,34.025375,1,
        "Audible Burglar Alarm",-118.4556389,34.02026389,1,
        "Auto Burglary Report",-118.4858611,34.03840278,1,
        "Battery Just Occurred",-118.4974167,34.00933333,1,
        "Bike Theft Report",-118.4641111,34.03013889,1,
        "Disturbance at a Business",-118.5006528,34.01718056,1,
        "Disturbance at a Business",-118.472125,34.01804167,1,
        "Disturbance of the Peace",-118.472,34.02686111,1,
        "Disturbance of the Peace",-118.484875,34.01236111,1,
        "Disturbance of the Peace",-118.4629861,34.02290278,1,
        "Disturbance of the Peace",-118.4964722,34.01011111,1,
        "Disturbance of the Peace",-118.5046111,34.0245,1,
        "Disturbance of the Peace Report",-118.4738194,34.03756945,1,
        "Fight",-118.494375,34.01180556,1,
        "Grand Theft Auto Report",-118.4787917,34.00372222,1,
        "Petty Theft Just Occurred",-118.4831944,34.00161111,1,
        "Suspicious Circumstances",-118.4934306,34.02438889,1,
        "Suspicious Person",-118.4700556,34.00376389,1,
        "Suspicious Person",-118.4959444,34.01194445,1,
        "Theft of Recyclables",-118.5069306,34.022625,1,
        "Trespassing",-118.4924722,34.01333333,1,
        "Trespassing",-118.4994306,34.02086111,1,
        "Unknown Trouble",-118.4888611,34.0085,1,
        "Assault Just Occurred",-118.50275,34.01816667,1,
        "Assault w/Deadly Wepaon Just Occurred",-118.4614722,34.02372222,1,
        "Assistance Call",-118.4981528,34.02055556,1,
        "Assistance Call",-118.4978056,34.01554167,1,
        "Assistance Call",-118.4952917,34.01497222,1,
        "Assistance Call",-118.4800694,34.02005556,1,
        "Assistance Call",-118.4898333,34.00595833,1,
        "Assistance Call",-118.4795972,34.03113889,1,
        "Assistance Call",-118.4935417,34.04773611,1,
        "Assistance Call",-118.4985694,34.018875,1,
        "Assistance Call",-118.4540972,34.01695833,1,
        "Assistance Call",-118.4540972,34.01695833,1,
        "Assistance Call",-118.4910556,34.01447222,1,
        "Assistance Call",-118.4964167,34.01275,1,
        "Attempt Burglary Just Occurred",-118.5016667,34.02040278,1,
        "Audible Burglar Alarm",-118.4968611,34.01631945,1,
        "Audible Burglar Alarm",-118.4968611,34.01631945,1,
        "Audible Burglar Alarm",-118.4915278,34.01802778,1,
        "Audible Burglar Alarm",-118.48325,34.01881945,1,
        "Audible Burglar Alarm",-118.5005833,34.04075,1,
        "Audible Burglar Alarm",-118.4804722,34.02827778,1,
        "Audible Burglar Alarm",-118.4687083,34.02205556,1,
        "Audible Burglar Alarm",-118.4687083,34.02205556,1,
        "Audible Burglar Alarm",-118.4814444,34.001,1,
        "Audible Burglar Alarm",-118.4820972,34.00051389,1,
        "Audible Burglar Alarm",-118.5036667,34.03470833,1,
        "Audible Burglar Alarm",-118.4933889,34.02041667,1,
        "Auto Burglary Now",-118.4923333,34.01165278,1,
        "Auto Burglary Report",-118.5161944,34.02644444,1,
        "Auto Burglary Report",-118.4974861,34.01841667,1,
        "Auto Burglary Report",-118.5024722,34.01694445,1,
        "Auto Burglary Report",-118.4946944,34.01286111,1,
        "Auto Burglary Report",-118.4946944,34.01286111,1,
        "Auto Burglary Report",-118.5066111,34.02018056,1,
        "Auto Burglary Report",-118.5066111,34.02018056,1,
        "Battery Just Occurred",-118.5016667,34.02040278,1,
        "Battery Just Occurred",-118.4905833,34.01879167,1,
        "Battery Just Occurred",-118.4699722,34.01919444,1,
        "Battery Just Occurred",-118.4759583,34.02672222,1,
        "Battery Just Occurred",-118.4831944,34.00161111,1,
        "Burglary Report",-118.5121944,34.02805556,1,
        "Critical Missing Person",-118.4964722,34.01011111,1,
        "Critical Missing Person",-118.5066944,34.02152778,1,
        "Death Notification",-118.4624167,34.03065278,1,
        "Disturbance at a Business",-118.4968611,34.01631945,1,
        "Disturbance at a Business",-118.49625,34.01419445,1,
        "Disturbance at a Business",-118.49625,34.01419445,1,
        "Disturbance at a Business",-118.4952917,34.01497222,1,
        "Disturbance at a Business",-118.4890139,34.01745833,1,
        "Disturbance at a Business",-118.4890139,34.01745833,1,
        "Disturbance at a Business",-118.4838611,34.01306945,1,
        "Disturbance at a Business",-118.4825139,34.01190278,1,
        "Disturbance at a Business",-118.4816806,34.01122222,1,
        "Disturbance at a Business",-118.4902639,34.01775,1,
        "Disturbance of the Peace",-118.4934306,34.02438889,1,
        "Disturbance of the Peace",-118.4798889,34.03538889,1,
        "Disturbance of the Peace",-118.4908611,34.02377778,1,
        "Disturbance of the Peace",-118.4936944,34.02147222,1,
        "Disturbance of the Peace",-118.49025,34.02561111,1,
        "Disturbance of the Peace",-118.4978056,34.01554167,1,
        "Disturbance of the Peace",-118.4861528,34.02369444,1,
        "Disturbance of the Peace",-118.4952917,34.01497222,1,
        "Disturbance of the Peace",-118.4927917,34.01438889,1,
        "Disturbance of the Peace",-118.4956806,34.01025,1,
        "Disturbance of the Peace",-118.4946944,34.00931944,1,
        "Disturbance of the Peace",-118.4731806,34.01968056,1,
        "Disturbance of the Peace",-118.4898333,34.00595833,1,
        "Disturbance of the Peace",-118.4964722,34.01011111,1,
        "Disturbance of the Peace",-118.4770556,34.03365278,1,
        "Disturbance of the Peace",-118.4857917,34.000875,1,
        "Disturbance of the Peace",-118.47025,34.03136111,1,
        "Disturbance of the Peace",-118.4820972,34.00051389,1,
        "Disturbance of the Peace",-118.4964722,34.01011111,1,
        "Disturbance of the Peace",-118.5101667,34.029875,1,
        "Disturbance of the Peace",-118.4946528,34.01677778,1,
        "Disturbance of the Peace",-118.4974167,34.00933333,1,
        "Disturbance of the Peace",-118.4966944,34.01775,1,
        "Disturbance of the Peace",-118.4934306,34.03227778,1,
        "Disturbance of the Peace",-118.4965972,34.02709722,1,
        "Disturbance of the Peace",-118.4965972,34.02709722,1,
        "Disturbance of the Peace",-118.50275,34.01816667,1,
        "Disturbance of the Peace",-118.4948611,34.01141667,1,
        "Grand Theft Just Occurred",-118.4915417,34.01408333,1,
        "Grand Theft Report",-118.5161944,34.02644444,1,
        "Health & Safety Code Violation",-118.5024306,34.01437504,1,
        "Indecent Exposure Just Occurred",-118.498,34.01408333,1,
        "Indecent Exposure Now",-118.4938472,34.01173611,1,
        "Malicious Mischief Report",-118.46275,34.019875,1,
        "Malicious Mischief Report",-118.4994167,34.03581945,1,
        "Missing Person",-118.4952917,34.01497222,1,
        "Person with a Gun",-118.4599861,34.02451389,1,
        "Petty Theft Just Occurred",-118.4862639,34.00454167,1,
        "Petty Theft Just Occurred",-118.4924722,34.01333333,1,
        "Petty Theft Now",-118.4952917,34.01497222,1,
        "Petty Theft Report",-118.4997639,34.02193056,1,
        "Petty Theft Report",-118.5006528,34.01718056,1,
        "Petty Theft Report",-118.4952917,34.01497222,1,
        "Petty Theft Report",-118.4929306,34.00973611,1,
        "Petty Theft Report",-118.4937222,34.00840278,1,
        "Petty Theft Report",-118.4846528,34.01073611,1,
        "Petty Theft Report",-118.4600833,34.016375,1,
        "Sexual Assault",-118.49625,34.01419445,1,
        "Sexual Assault",-118.4880833,34.03005556,1,
        "Silent Robbery Alarm",-118.471125,34.02611111,1,
        "Silent Robbery Alarm",-118.4888611,34.0085,1,
        "Stolen Vehicle",-118.4762222,34.02069444,1,
        "Stolen Vehicle Recovered",-118.4656389,34.02263889,1,
        "Strongarm Robbery Just Occurred",-118.4893194,34.0185,1,
        "Suspicious Circumstances",-118.5161944,34.02644444,1,
        "Suspicious Circumstances",-118.4874028,34.02397222,1,
        "Suspicious Circumstances",-118.4930972,34.01544444,1,
        "Suspicious Circumstances",-118.4995556,34.01541667,1,
        "Suspicious Person",-118.4932778,34.00827778,1,
        "Suspicious Person",-118.4868333,34.02977778,1,
        "Suspicious Person",-118.4733611,34.03540278,1,
        "Suspicious Person",-118.4842778,34.02129167,1,
        "Suspicious Person",-118.4843611,34.00969444,1,
        "Suspicious Person",-118.4869167,34.00852778,1,
        "Suspicious Vehicle",-118.4918194,34.01908333,1,
        "Theft of Recyclables",-118.4934306,34.03227778,1,
        "Theft of Recyclables",-118.4811806,34.01204167,1,
        "Theft of Recyclables",-118.5032222,34.02173611,1,
        "Trespassing",-118.4927917,34.01438889,1,
        "Trespassing",-118.4880556,34.01822222,1,
        "Trespassing",-118.4956389,34.01208333,1,
        "Trespassing",-118.4747917,34.02183333,1,
        "Trespassing",-118.4965972,34.02316667,1,
        "Trespassing",-118.4908889,34.01984722,1,
        "Unknown Trouble",-118.4994444,34.0195,1,
        "Armed Robbery Just Occurred",-118.4699444,34.02511111,1,
        "Assault Just Occurred",-118.4795972,34.03113889,1,
        "Assistance Call",-118.49625,34.01419445,1,
        "Assistance Call",-118.4859306,34.01640278,1,
        "Assistance Call",-118.4938889,34.01219444,1,
        "Assistance Call",-118.4957917,34.04170833,1,
        "Assistance Call",-118.4923333,34.01165278,1,
        "Assistance Call",-118.4477222,34.016375,1,
        "Assistance Call",-118.5046111,34.0245,1,
        "Assistance Call",-118.4937083,34.01755556,1,
        "Assistance Call",-118.5021111,34.02394444,1,
        "Attempt Burglary Report",-118.4627639,34.02495833,1,
        "Attempt Burglary Report",-118.4880833,34.034,1,
        "Audible Burglar Alarm",-118.4605833,34.03245833,1,
        "Audible Burglar Alarm",-118.48075,33.99976389,1,
        "Audible Burglar Alarm",-118.4528472,34.02213889,1,
        "Audible Burglar Alarm",-118.4529861,34.01195834,1,
        "Auto Burglary Report",-118.4993889,34.016875,1,
        "Auto Burglary Report",-118.4943611,34.01573611,1,
        "Auto Burglary Report",-118.4943611,34.01573611,1,
        "Battery Just Occurred",-118.5006528,34.01718056,1,
        "Battery Just Occurred",-118.5006528,34.01718056,1,
        "Battery Just Occurred",-118.49625,34.01419445,1,
        "Battery Just Occurred",-118.5001667,34.01755556,1,
        "Battery Just Occurred",-118.4829444,34.01227778,1,
        "Battery Now",-118.492,34.01372222,1,
        "Battery Report",-118.4795972,34.03113889,1,
        "Battery Report",-118.4831944,34.00984722,1,
        "Battery Report",-118.4829444,34.01227778,1,
        "Bike Theft Report",-118.4915278,34.00665278,1,
        "Bike Theft Report",-118.4831944,34.00161111,1,
        "Bike Theft Report",-118.4825278,34.00094444,1,
        "Burglary Just Occurred",-118.4932778,34.00827778,1,
        "Burglary Just Occurred",-118.507125,34.034875,1,
        "Burglary Now",-118.4629861,34.02290278,1,
        "Burglary Report",-118.4934167,34.0165,1,
        "Burglary Report",-118.4627639,34.02495833,1,
        "Burglary Report",-118.4627639,34.02495833,1,
        "Burglary Report",-118.4930972,34.02330556,1,
        "Critical Missing Person",-118.4951944,34.00979167,1,
        "Critical Missing Person",-118.4964722,34.01011111,1,
        "Critical Missing Person",-118.4964722,34.01011111,1,
        "Critical Missing Person",-118.4964722,34.01011111,1,
        "Critical Missing Person",-118.4948611,34.01141667,1,
        "Disturbance at a Business",-118.5009861,34.01825,1,
        "Disturbance at a Business",-118.5009861,34.01825,1,
        "Disturbance at a Business",-118.49625,34.01419445,1,
        "Disturbance at a Business",-118.4956389,34.01208333,1,
        "Disturbance at a Business",-118.4956389,34.01208333,1,
        "Disturbance at a Business",-118.492,34.00894445,1,
        "Disturbance at a Business",-118.4699722,34.01919444,1,
        "Disturbance at a Business",-118.4951667,34.01376389,1,
        "Disturbance of the Peace",-118.4868333,34.02977778,1,
        "Disturbance of the Peace",-118.4839861,34.03208333,1,
        "Disturbance of the Peace",-118.4952917,34.01497222,1,
        "Disturbance of the Peace",-118.4972222,34.01341667,1,
        "Disturbance of the Peace",-118.4841528,34.01486111,1,
        "Disturbance of the Peace",-118.4757222,34.02108333,1,
        "Disturbance of the Peace",-118.4937222,34.00840278,1,
        "Disturbance of the Peace",-118.4848889,34.00733333,1,
        "Disturbance of the Peace",-118.4848889,34.00733333,1,
        "Disturbance of the Peace",-118.4808472,33.99926389,1,
        "Disturbance of the Peace",-118.4808472,33.99926389,1,
        "Disturbance of the Peace",-118.5033889,34.02030556,1,
        "Disturbance of the Peace",-118.5103889,34.02430556,1,
        "Disturbance of the Peace",-118.4910556,34.01447222,1,
        "Disturbance of the Peace",-118.5032222,34.02173611,1,
        "Disturbance of the Peace",-118.4948611,34.01141667,1,
        "Fight",-118.4974167,34.01252778,1,
        "Grand Theft Auto Report",-118.4733611,34.03540278,1,
        "Grand Theft Auto Report",-118.4623333,34.02530556,1,
        "Grand Theft Report",-118.47225,34.02044445,1,
        "Health & Safety Code Violation",-118.4931389,34.02729167,1,
        "Health & Safety Code Violation",-118.4820556,34.02569445,1,
        "Health & Safety Code Violation",-118.4645694,34.02351389,1,
        "Health & Safety Code Violation",-118.4739167,34.00054167,1,
        "Indecent Exposure Now",-118.496875,34.02025,1,
        "Malicious Mischief Report",-118.4976389,34.01697222,1,
        "Malicious Mischief Report",-118.4868056,34.01480556,1,
        "Person with a Gun",-118.4771944,33.99972222,1,
        "Person with a Gun",-118.4810833,33.99952778,1,
        "Petty Theft Just Occurred",-118.4965556,34.01525,1,
        "Petty Theft Just Occurred",-118.4902639,34.01775,1,
        "Petty Theft Report",-118.4951667,34.01376389,1,
        "Petty Theft Report",-118.4820278,34.00593056,1,
        "Report of Shots Fired",-118.4498333,34.02434723,1,
        "Report of Shots Fired",-118.5024444,34.02105556,1,
        "Stolen Vehicle Recovered",-118.4823194,34.01961111,1,
        "Suspicious Circumstances",-118.4839444,34.02416667,1,
        "Suspicious Circumstances",-118.4669028,34.02252778,1,
        "Suspicious Circumstances",-118.4831944,34.00984722,1,
        "Suspicious Person",-118.4968611,34.01631945,1,
        "Suspicious Person",-118.4874028,34.02397222,1,
        "Suspicious Person",-118.489625,34.01956945,1,
        "Suspicious Person",-118.4890139,34.02929167,1,
        "Suspicious Person",-118.49,34.012,1,
        "Suspicious Person",-118.4606944,34.00875,1,
        "Suspicious Person",-118.48775,34.00926389,1,
        "Suspicious Person",-118.4905972,34.01486111,1,
        "Suspicious Person",-118.4755833,34.00419444,1,
        "Suspicious Person",-118.4833194,34.01494444,1,
        "Suspicious Vehicle",-118.4795278,34.01801389,1,
        "Suspicious Vehicle",-118.4606944,34.00875,1,
        "Trespassing",-118.4880278,34.02606945,1,
        "Trespassing",-118.4968611,34.01631945,1,
        "Trespassing",-118.4930833,34.019375,1,
        "Trespassing",-118.492,34.00894445,1,
        "Trespassing",-118.4779167,34.03036111,1,
        "Trespassing",-118.4723889,34.00398611,1,
        "Trespassing",-118.4542222,34.02741667,1,
        "Trespassing",-118.4984861,34.021625,1,
        "Trespassing",-118.4905972,34.01486111,1,
        "Trespassing",-118.4888889,34.01333333,1,
        "Trespassing",-118.4709306,34.00238889,1,
        "Trespassing",-118.4823194,34.01261111,1,
        "Trespassing",-118.4899306,34.02061111,1,
        "Unknown Trouble",-118.4703056,34.02336111,1,
        "Battery Just Occurred",-118.4930972,34.01544444,1,
        "Disturbance of the Peace",-118.5059167,34.02086111,1,
        "Assistance Call",-118.4978056,34.01554167,1,
        "Assistance Call",-118.4702222,34.01044444,1,
        "Assistance Call",-118.4935139,34.01501389,1,
        "Assistance Call",-118.4974167,34.01252778,1,
        "Assistance Call",-118.4974861,34.01319445,1,
        "Assistance Call",-118.4924722,34.01333333,1,
        "Assistance Call",-118.4923333,34.01165278,1,
        "Audible Burglar Alarm",-118.4861111,34.00240278,1,
        "Audible Burglar Alarm",-118.4975417,34.04320833,1,
        "Audible Burglar Alarm",-118.4966667,34.03190278,1,
        "Audible Burglar Alarm",-118.4724722,34.00220833,1,
        "Battery Just Occurred",-118.4793889,33.99783333,1,
        "Battery Just Occurred",-118.4976389,34.01697222,1,
        "Battery Report",-118.4888889,34.01333333,1,
        "Burglary Report",-118.5091111,34.03084722,1,
        "Disturbance of the Peace",-118.4937222,34.00840278,1,
        "Disturbance of the Peace",-118.4843611,34.00969444,1,
        "Disturbance of the Peace",-118.4964722,34.01011111,1,
        "Disturbance of the Peace",-118.4982778,34.01911111,1,
        "Disturbance of the Peace",-118.5091111,34.03084722,1,
        "Disturbance of the Peace",-118.4962778,34.02997222,1,
        "Disturbance of the Peace",-118.4928056,34.03016667,1,
        "Health & Safety Code Violation",-118.4828194,34.01372222,1,
        "Petty Theft Report",-118.5006528,34.01718056,1,
        "Prowler Just Left",-118.4763611,34.00581944,1,
        "Suspicious Circumstances",-118.4857917,34.000875,1,
        "Suspicious Circumstances",-118.4937083,34.01755556,1,
        "Suspicious Circumstances",-118.4779722,34.00598611,1,
        "Suspicious Person",-118.4964722,34.01011111,1,
        "Suspicious Person",-118.5003611,34.02797222,1,
        "Trespassing",-118.4951944,34.00979167,1,
        "Trespassing",-118.4769722,34.036375,1,
        "Trespassing",-118.4589583,34.02505556,1,
        "Unknown Trouble",-118.4773194,34.03747222,1,
        "Audible Burglar Alarm",-118.489625,34.01956945,1,
        "Audible Burglar Alarm",-118.4927917,34.03408333,1,
        "Audible Burglar Alarm",-118.4869444,34.00520833,1,
        "Audible Burglar Alarm",-118.4924722,34.01333333,1,
        "Audible Burglar Alarm",-118.4881667,34.04238889,1,
        "Battery Just Occurred",-118.5006528,34.01718056,1,
        "Burglary Report",-118.4748194,34.04001389,1,
        "Disturbance at a Business",-118.4883611,34.02713889,1,
        "Disturbance at a Business",-118.4808472,33.99926389,1,
        "Disturbance at a Business",-118.4955972,34.01601389,1,
        "Disturbance of the Peace",-118.49625,34.01419445,1,
        "Disturbance of the Peace",-118.47175,34.03402778,1,
        "Disturbance of the Peace",-118.4937222,34.00840278,1,
        "Disturbance of the Peace",-118.4690278,34.02069445,1,
        "Disturbance of the Peace",-118.4759583,34.02672222,1,
        "Disturbance of the Peace",-118.4869444,34.00520833,1,
        "Elder Abuse",-118.4726944,34.01472222,1,
        "Elder Abuse",-118.4599861,34.02451389,1,
        "Fight",-118.5091111,34.03084722,1,
        "Petty Theft Report",-118.4694444,34.03855556,1,
        "Petty Theft Report",-118.4937083,34.01755556,1,
        "Petty Theft Report",-118.4845417,34.01141667,1,
        "Suspicious Person",-118.4965556,34.01525,1,
        "Suspicious Person",-118.4763611,34.03161111,1,
        "Trespassing",-118.49625,34.01419445,1,
        "Trespassing",-118.4965556,34.01525,1,
        "Trespassing",-118.4989444,34.01856944,1,
        "Assault w/Deadly Weapon Report",-118.4888889,34.01333333,1,
        "Assistance Call",-118.4978056,34.01554167,1,
        "Assistance Call",-118.4952917,34.01497222,1,
        "Assistance Call",-118.4647083,34.03451389,1,
        "Assistance Call",-118.4647083,34.03451389,1,
        "Assistance Call",-118.4759583,34.02672222,1,
        "Assistance Call",-118.4580556,34.024875,1,
        "Assistance Call",-118.4987917,34.02661111,1,
        "Audible Burglar Alarm",-118.4973194,34.03041667,1,
        "Audible Burglar Alarm",-118.4952917,34.01497222,1,
        "Audible Burglar Alarm",-118.4915278,34.01802778,1,
        "Audible Burglar Alarm",-118.4861667,34.01976389,1,
        "Audible Burglar Alarm",-118.4877083,34.00595833,1,
        "Audible Burglar Alarm",-118.4685139,34.02693056,1,
        "Audible Burglar Alarm",-118.4807361,34.00322222,1,
        "Audible Burglar Alarm",-118.4820972,34.00051389,1,
        "Audible Burglar Alarm",-118.4940833,34.01394444,1,
        "Auto Burglary Report",-118.4933611,34.00868056,1,
        "Auto Burglary Report",-118.4933611,34.00868056,1,
        "Auto Burglary Report",-118.4933611,34.00868056,1,
        "Battery Just Occurred",-118.475625,34.00640278,1,
        "Battery Just Occurred",-118.4985833,34.01622222,1,
        "Battery Just Occurred",-118.5011389,34.01677778,1,
        "Battery Now",-118.4831944,34.00161111,1,
        "Bike Theft Report",-118.49275,34.02223611,1,
        "Burglary Report",-118.4748194,34.04001389,1,
        "Critical Missing Person",-118.4795278,34.01411111,1,
        "Critical Missing Person",-118.4795972,34.03113889,1,
        "Disturbance at a Business",-118.4936944,34.02147222,1,
        "Disturbance at a Business",-118.4943611,34.01573611,1,
        "Disturbance at a Business",-118.4943611,34.01573611,1,
        "Disturbance at a Business",-118.4890139,34.01745833,1,
        "Disturbance at a Business",-118.4890139,34.01745833,1,
        "Disturbance at a Business",-118.4862639,34.00454167,1,
        "Disturbance at a Business",-118.4589583,34.02505556,1,
        "Disturbance at a Business",-118.4989444,34.01856944,1,
        "Disturbance at a Business",-118.4555139,34.02677778,1,
        "Disturbance of the Peace",-118.4782778,34.03669445,1,
        "Disturbance of the Peace",-118.4886667,34.02031945,1,
        "Disturbance of the Peace",-118.4952917,34.01497222,1,
        "Disturbance of the Peace",-118.4943611,34.01573611,1,
        "Disturbance of the Peace",-118.4935139,34.01501389,1,
        "Disturbance of the Peace",-118.4956389,34.01208333,1,
        "Disturbance of the Peace",-118.48325,34.01881945,1,
        "Disturbance of the Peace",-118.4736944,34.02169445,1,
        "Disturbance of the Peace",-118.4844583,34.002875,1,
        "Fight",-118.4730972,34.02780556,1,
        "Fight",-118.4888889,34.01333333,1,
        "Grand Theft Report",-118.4831944,34.00161111,1,
        "Health & Safety Code Violation",-118.4849028,34.02340278,1,
        "Health & Safety Code Violation",-118.4923333,34.01165278,1,
        "Lewd Activity",-118.4953056,34.02284722,1,
        "Malicious Mischief Report",-118.4838611,34.017,1,
        "Missing Person",-118.4923333,34.01165278,1,
        "Petty Theft Just Occurred",-118.4937083,34.01755556,1,
        "Petty Theft Now",-118.4972361,34.02527778,1,
        "Petty Theft Report",-118.4893056,34.02244445,1,
        "Petty Theft Report",-118.4849028,34.02340278,1,
        "Sexual Assault",-118.4924722,34.02515278,1,
        "Sexual Assault",-118.4855139,34.02945833,1,
        "Silent Robbery Alarm",-118.4922361,34.0415,1,
        "Silent Robbery Alarm",-118.4922361,34.0415,1,
        "Strongarm Robbery Just Occurred",-118.4899167,34.02454167,1,
        "Strongarm Robbery Just Occurred",-118.4861806,34.03159722,1,
        "Suspicious Circumstances",-118.4943611,34.01573611,1,
        "Suspicious Person",-118.4905833,34.02669445,1,
        "Suspicious Person",-118.4905833,34.02669445,1,
        "Suspicious Person",-118.4804722,34.02827778,1,
        "Suspicious Person",-118.4679722,34.02026389,1,
        "Suspicious Person",-118.4837639,34.00620833,1,
        "Suspicious Person",-118.4926111,34.01583333,1,
        "Suspicious Person",-118.5047778,34.02306945,1,
        "Suspicious Vehicle",-118.4826944,34.03966667,1,
        "Suspicious Vehicle",-118.4823194,34.01261111,1,
        "Suspicious Vehicle",-118.4897778,34.01813889,1,
        "Suspicious Vehicle",-118.4829444,34.01227778,1,
        "Theft of Recyclables",-118.4617361,34.00697222,1,
        "Threats Report/Investigations",-118.4941111,34.04609722,1,
        "Threats Report/Investigations",-118.4609861,34.02397222,1,
        "Trespassing",-118.5130278,34.02691667,1,
        "Trespassing",-118.4968611,34.01631945,1,
        "Trespassing",-118.4908889,34.01593056,1,
        "Trespassing",-118.4826944,34.02388889,1,
        "Trespassing",-118.4869444,34.00520833,1,
        "Trespassing",-118.4802639,34.03370833,1,
        "Trespassing",-118.4892917,34.01101389,1,
        "Trespassing",-118.4905972,34.01486111,1,
        "Trespassing",-118.4905972,34.01486111,1,
        "Trespassing",-118.4912083,34.01697222,1,
        "Trespassing",-118.4912083,34.01697222,1,
        "Trespassing",-118.4912083,34.01697222,1,
        "Trespassing",-118.5099028,34.02276389,1,
        "Trespassing",-118.5099028,34.02276389,1,
        "Unknown Trouble",-118.4795972,34.03113889,1,
        "Assistance Call",-118.5018056,34.01894444,1,
        "Assistance Call",-118.4897778,34.01813889,1,
        "Audible Burglar Alarm",-118.4955833,34.01994445,1,
        "Audible Burglar Alarm",-118.4968611,34.01631945,1,
        "Audible Burglar Alarm",-118.4800694,34.02005556,1,
        "Audible Burglar Alarm",-118.4842639,34.02522222,1,
        "Audible Burglar Alarm",-118.4660139,34.00926389,1,
        "Audible Burglar Alarm",-118.5006528,34.01718056,1,
        "Audible Burglar Alarm",-118.5022639,34.03823611,1,
        "Audible Burglar Alarm",-118.4808472,33.99926389,1,
        "Audible Burglar Alarm",-118.4645139,34.03076389,1,
        "Audible Burglar Alarm",-118.4924722,34.01333333,1,
        "Audible Burglar Alarm",-118.4974583,34.03730556,1,
        "Audible Burglar Alarm",-118.4930972,34.01544444,1,
        "Auto Burglary Report",-118.4806944,34.03475,1,
        "Auto Burglary Report",-118.4806944,34.03475,1,
        "Auto Burglary Report",-118.4933611,34.00868056,1,
        "Auto Burglary Report",-118.4933611,34.00868056,1,
        "Battery Just Occurred",-118.4984306,34.01765278,1,
        "Battery Just Occurred",-118.4946944,34.01286111,1,
        "Battery Just Occurred",-118.4730972,34.02780556,1,
        "Battery Report",-118.4845417,34.01141667,1,
        "Burglary Now",-118.4943611,34.01573611,1,
        "Burglary Report",-118.4697361,34.03565278,1,
        "Burglary Report",-118.4927917,34.01438889,1,
        "Burglary Report",-118.4927917,34.01438889,1,
        "Burglary Report",-118.4927917,34.01438889,1,
        "Burglary Report",-118.4927917,34.01438889,1,
        "Burglary Report",-118.4927917,34.01438889,1,
        "Burglary Report",-118.4927917,34.01438889,1,
        "Burglary Report",-118.4927917,34.01438889,1,
        "Burglary Report",-118.4927917,34.01438889,1,
        "Burglary Report",-118.4927917,34.01438889,1,
        "Burglary Report",-118.4679167,34.017625,1,
        "Burglary Report",-118.4930972,34.01544444,1,
        "Burglary Report",-118.4930972,34.01544444,1,
        "Critical Missing Person",-118.4953056,34.02284722,1,
        "Critical Missing Person",-118.4517639,34.02666667,1,
        "Disturbance at a Business",-118.4921389,34.02408333,1,
        "Disturbance at a Business",-118.49625,34.01419445,1,
        "Disturbance at a Business",-118.4943611,34.01573611,1,
        "Disturbance at a Business",-118.4905833,34.01879167,1,
        "Disturbance at a Business",-118.4946944,34.01286111,1,
        "Disturbance at a Business",-118.4773333,34.02561111,1,
        "Disturbance at a Business",-118.4989444,34.01856944,1,
        "Disturbance at a Business",-118.4908889,34.01984722,1,
        "Disturbance of the Peace",-118.4745417,34.00794444,1,
        "Disturbance of the Peace",-118.47825,34.034,1,
        "Disturbance of the Peace",-118.49625,34.01419445,1,
        "Disturbance of the Peace",-118.49625,34.01419445,1,
        "Disturbance of the Peace",-118.4905833,34.01879167,1,
        "Disturbance of the Peace",-118.4605694,34.01609722,1,
        "Disturbance of the Peace",-118.4806528,34.00694444,1,
        "Disturbance of the Peace",-118.4759306,34.03197222,1,
        "Disturbance of the Peace",-118.4857917,34.000875,1,
        "Disturbance of the Peace",-118.4857917,34.000875,1,
        "Disturbance of the Peace",-118.485125,34.00018056,1,
        "Disturbance of the Peace",-118.4733194,34.03408333,1,
        "Disturbance of the Peace",-118.500375,34.02008333,1,
        "Disturbance of the Peace",-118.4910556,34.01447222,1,
        "Disturbance of the Peace",-118.5068889,34.03361111,1,
        "Disturbance of the Peace",-118.4763333,34.00691667,1,
        "Disturbance of the Peace",-118.4948611,34.01141667,1,
        "Elder Abuse",-118.487,34.00359722,1,
        "Elder Abuse",-118.4981528,34.02055556,1,
        "Elder Abuse",-118.4918472,34.01516667,1,
        "Elder Abuse",-118.4918472,34.01516667,1,
        "Elder Abuse",-118.4740694,34.01605556,1,
        "Elder Abuse",-118.4842778,34.02129167,1,
        "Elder Abuse",-118.4691389,34.03356945,1,
        "Elder Abuse",-118.484875,34.02733333,1,
        "Elder Abuse",-118.4651806,34.00863889,1,
        "Elder Abuse",-118.472,34.02686111,1,
        "Elder Abuse",-118.4637222,34.02697222,1,
        "Elder Abuse",-118.4759583,34.02672222,1,
        "Elder Abuse",-118.4590278,34.01902778,1,
        "Elder Abuse",-118.4837361,34.00115278,1,
        "Elder Abuse",-118.4704167,34.00613889,1,
        "Elder Abuse",-118.4706806,34.03881944,1,
        "Elder Abuse",-118.4526806,34.02466667,1,
        "Elder Abuse",-118.476875,34.04318056,1,
        "Elder Abuse",-118.4937639,34.02940278,1,
        "Grand Theft Auto Report",-118.5078611,34.02354167,1,
        "Grand Theft Auto Report",-118.5084722,34.02305556,1,
        "Grand Theft Auto Report",-118.5084722,34.02305556,1,
        "Health & Safety Code Violation",-118.4802778,34.01786111,1,
        "Health & Safety Code Violation",-118.5069861,34.03041667,1,
        "Health & Safety Code Violation",-118.4845417,34.01141667,1,
        "Indecent Exposure Now",-118.4786667,34.03501389,1,
        "Malicious Mischief Just Occurred",-118.4946944,34.01286111,1,
        "Petty Theft Just Occurred",-118.4893056,34.02638889,1,
        "Petty Theft Just Occurred",-118.4924722,34.01333333,1,
        "Petty Theft Just Occurred",-118.4964722,34.01011111,1,
        "Petty Theft Just Occurred",-118.494375,34.03151389,1,
        "Petty Theft Report",-118.4759583,34.02672222,1,
        "Petty Theft Report",-118.4772083,34.03093056,1,
        "Petty Theft Report",-118.4785,33.99945833,1,
        "Petty Theft Report",-118.4923333,34.01165278,1,
        "Silent Burglar Alarm",-118.4930972,34.01544444,1,
        "Silent Robbery Alarm",-118.4922361,34.0415,1,
        "Stolen Vehicle Recovered",-118.5090139,34.02443056,1,
        "Suspicious Circumstances",-118.4921944,34.02805556,1,
        "Suspicious Circumstances",-118.4921944,34.02805556,1,
        "Suspicious Circumstances",-118.4855139,34.0255,1,
        "Suspicious Circumstances",-118.4658194,34.01511111,1,
        "Suspicious Circumstances",-118.4923333,34.01165278,1,
        "Suspicious Circumstances",-118.4922361,34.0415,1,
        "Suspicious Circumstances",-118.4930972,34.01544444,1,
        "Suspicious Person",-118.4924722,34.02515278,1,
        "Suspicious Person",-118.4978056,34.01554167,1,
        "Suspicious Person",-118.4836389,34.02311111,1,
        "Suspicious Person",-118.4848889,34.00733333,1,
        "Suspicious Person",-118.4975417,34.02238889,1,
        "Suspicious Person",-118.4904722,34.03716667,1,
        "Suspicious Vehicle",-118.4883611,34.02320833,1,
        "Suspicious Vehicle",-118.4943611,34.01573611,1,
        "Suspicious Vehicle",-118.4946944,34.01286111,1,
        "Suspicious Vehicle",-118.5101667,34.029875,1,
        "Theft of Recyclables",-118.4820556,34.02569445,1,
        "Trespassing",-118.4803194,34.01366667,1,
        "Trespassing",-118.4943611,34.023625,1,
        "Trespassing",-118.4687361,34.00366667,1,
        "Trespassing",-118.4889722,34.02530556,1,
        "Trespassing",-118.4905833,34.01879167,1,
        "Trespassing",-118.4935139,34.01501389,1,
        "Trespassing",-118.4908889,34.01593056,1,
        "Trespassing",-118.4842778,34.02129167,1,
        "Trespassing",-118.4902639,34.01380556,1,
        "Trespassing",-118.4902639,34.01380556,1,
        "Trespassing",-118.4755417,34.02326389,1,
        "Trespassing",-118.4747083,34.03295833,1,
        "Trespassing",-118.4737083,34.00497222,1,
        "Trespassing",-118.4737083,34.00497222,1,
        "Trespassing",-118.4912083,34.01697222,1,
        "Trespassing",-118.5082083,34.02244444,1,
        "Trespassing",-118.4814583,34.01305556,1,
        "Urinating/Defecating in Public",-118.4938472,34.01173611,1,
        "Urinating/Defecating in Public",-118.4912083,34.01697222,1,
        "Urinating/Defecating in Public",-118.4605,34.02425,1,
        "Armed Robbery Just Occurred",-118.4883611,34.00484722,1,
        "Assistance Call",-118.4874028,34.02397222,1,
        "Assistance Call",-118.4974167,34.01252778,1,
        "Assistance Call",-118.4923333,34.01165278,1,
        "Assistance Call",-118.4792917,34.01702778,1,
        "Assistance Call",-118.4964722,34.01011111,1,
        "Assistance Call",-118.4871389,34.00447222,1,
        "Attempt Burglary Report",-118.4564861,34.01956945,1,
        "Audible Burglar Alarm",-118.4940833,34.01394444,1,
        "Audible Burglar Alarm",-118.4955833,34.01994445,1,
        "Audible Burglar Alarm",-118.4859306,34.01640278,1,
        "Audible Burglar Alarm",-118.4801806,34.02330556,1,
        "Audible Burglar Alarm",-118.4819028,34.00858333,1,
        "Auto Burglary Report",-118.4981667,34.02844445,1,
        "Auto Burglary Report",-118.4819583,34.04141667,1,
        "Auto Burglary Report",-118.4937639,34.02940278,1,
        "Battery Just Occurred",-118.5040972,34.02493056,1,
        "Battery Now",-118.4984306,34.01765278,1,
        "Battery Report",-118.4923333,34.01165278,1,
        "Burglary Report",-118.5006528,34.01718056,1,
        "Burglary Report",-118.5006528,34.01718056,1,
        "Burglary Report",-118.4896389,34.02745833,1,
        "Burglary Report",-118.4824167,34.00265278,1,
        "Burglary Report",-118.4745417,34.02788889,1,
        "Burglary Report",-118.4984861,34.021625,1,
        "Death Investigation",-118.4757222,34.00725,1,
        "Disturbance at a Business",-118.4921389,34.02408333,1,
        "Disturbance at a Business",-118.49625,34.01419445,1,
        "Disturbance at a Business",-118.4905833,34.01879167,1,
        "Disturbance at a Business",-118.4972222,34.01341667,1,
        "Disturbance at a Business",-118.4890139,34.01745833,1,
        "Disturbance at a Business",-118.4833194,34.02597222,1,
        "Disturbance at a Business",-118.4838611,34.01306945,1,
        "Disturbance at a Business",-118.4838611,34.01306945,1,
        "Disturbance at a Business",-118.4754444,34.03236111,1,
        "Disturbance at a Business",-118.4786667,34.03501389,1,
        "Disturbance at a Business",-118.4959167,34.02101389,1,
        "Disturbance at a Business",-118.4893194,34.0185,1,
        "Disturbance of the Peace",-118.5016667,34.02040278,1,
        "Disturbance of the Peace",-118.4823611,34.03068056,1,
        "Disturbance of the Peace",-118.4984306,34.01765278,1,
        "Disturbance of the Peace",-118.4987778,34.01475,1,
        "Disturbance of the Peace",-118.4861528,34.02369444,1,
        "Disturbance of the Peace",-118.4861528,34.02369444,1,
        "Disturbance of the Peace",-118.49625,34.01419445,1,
        "Disturbance of the Peace",-118.4934167,34.0165,1,
        "Disturbance of the Peace",-118.489625,34.01956945,1,
        "Disturbance of the Peace",-118.4890139,34.02929167,1,
        "Disturbance of the Peace",-118.472,34.02686111,1,
        "Disturbance of the Peace",-118.4828194,34.01372222,1,
        "Disturbance of the Peace",-118.4825139,34.01190278,1,
        "Disturbance of the Peace",-118.4513611,34.01933333,1,
        "Disturbance of the Peace",-118.4955972,34.01601389,1,
        "Disturbance of the Peace",-118.46975,34.03956944,1,
        "Disturbance of the Peace",-118.49575,34.0185,1,
        "Disturbance of the Peace",-118.4767778,34.01555556,1,
        "Disturbance of the Peace",-118.4796111,33.99805556,1,
        "Disturbance of the Peace",-118.5043333,34.0195,1,
        "Elder Abuse",-118.4782778,34.03669445,1,
        "Elder Abuse",-118.4929861,34.02608333,1,
        "Elder Abuse",-118.4814722,34.03138889,1,
        "Elder Abuse",-118.4807778,34.02933333,1,
        "Elder Abuse",-118.4820556,34.02569445,1,
        "Elder Abuse",-118.5121944,34.02805556,1,
        "Elder Abuse",-118.4590278,34.01902778,1,
        "Elder Abuse",-118.4704167,34.00613889,1,
        "Elder Abuse",-118.5103889,34.02430556,1,
        "Fight",-118.4974167,34.01252778,1,
        "Fight",-118.4964722,34.01011111,1,
        "Grand Theft Auto Report",-118.4974861,34.01841667,1,
        "Health & Safety Code Violation",-118.4779722,34.00598611,1,
        "Health & Safety Code Violation",-118.4757222,34.00725,1,
        "Indecent Exposure Now",-118.4885972,34.01255556,1,
        "Malicious Mischief Just Occurred",-118.4916667,34.01658333,1,
        "Malicious Mischief Now",-118.49625,34.01419445,1,
        "Malicious Mischief Report",-118.48725,34.00961111,1,
        "Missing Person",-118.48425,34.02913889,1,
        "Person with a Gun",-118.4916667,34.02447222,1,
        "Petty Theft Just Occurred",-118.4893056,34.02638889,1,
        "Petty Theft Just Occurred",-118.4975278,34.04180556,1,
        "Petty Theft Just Occurred",-118.4767778,34.00729167,1,
        "Petty Theft Now",-118.4915278,34.00665278,2,
        "Petty Theft Report",-118.4614722,34.02372222,2,
        "Petty Theft Report",-118.4698194,34.03170833,2,
        "Silent Robbery Alarm",-118.4964722,34.01011111,2,
        "Strongarm Robbery Just Occurred",-118.4953056,34.02284722,2,
        "Suspicious Circumstances",-118.4886667,34.02031945,2,
        "Suspicious Circumstances",-118.4601944,34.01025,2,
        "Suspicious Circumstances",-118.47875,34.00888889,2,
        "Suspicious Circumstances",-118.4539028,34.02338889,2,
        "Suspicious Circumstances",-118.4576389,34.02179167,2,
        "Suspicious Circumstances",-118.4819583,34.04141667,2,
        "Suspicious Person",-118.4984306,34.01765278,2,
        "Suspicious Person",-118.49625,34.01419445,2,
        "Suspicious Person",-118.4741111,34.01495833,2,
        "Suspicious Person",-118.4956389,34.01208333,2,
        "Suspicious Person",-118.4974167,34.01252778,2,
        "Suspicious Person",-118.4965556,34.01525,2,
        "Suspicious Person",-118.4892917,34.01101389,2,
        "Suspicious Vehicle",-118.4640417,34.02236111,2,
        "Suspicious Vehicle",-118.4964722,34.01011111,2,
        "Suspicious Vehicle",-118.4965972,34.02316667,2,
        "Suspicious Vehicle",-118.4796111,33.99805556,2,
        "Threats Report/Investigations",-118.4870972,34.02291667,2,
        "Threats Report/Investigations",-118.4691944,34.02166667,2,
        "Trespassing",-118.4803194,34.01366667,2,
        "Trespassing",-118.4915278,34.02591667,2,
        "Trespassing",-118.4915278,34.02591667,2,
        "Trespassing",-118.4915278,34.02591667,2,
        "Trespassing",-118.4943611,34.023625,2,
        "Trespassing",-118.4953056,34.02284722,2,
        "Trespassing",-118.483625,34.02704167,2,
        "Trespassing",-118.49625,34.01419445,2,
        "Trespassing",-118.4952917,34.01497222,2,
        "Trespassing",-118.4831389,34.01556944,2,
        "Trespassing",-118.4885972,34.01255556,2,
        "Trespassing",-118.4772222,34.022375,2,
        "Trespassing",-118.4804722,34.02827778,2,
        "Trespassing",-118.4826667,34.03176389,2,
        "Trespassing",-118.4795972,34.03113889,2,
        "Trespassing",-118.4801806,34.01002778,2,
        "Trespassing",-118.4580556,34.024875,2,
        "Trespassing",-118.4664444,34.02105556,2,
        "Trespassing",-118.4733194,34.03408333,2,
        "Assault w/Deadly Wepaon Just Occurred",-118.4581528,34.01748611,2,
        "Assistance Call",-118.4974861,34.01841667,2,
        "Assistance Call",-118.4924583,34.01726389,2,
        "Assistance Call",-118.4923056,34.01869444,2,
        "Attempt Burglary Report",-118.4622778,34.03391667,2,
        "Audible Burglar Alarm",-118.4790833,34.03605556,2,
        "Audible Burglar Alarm",-118.4968611,34.01631945,2,
        "Audible Burglar Alarm",-118.4795556,34.025125,2,
        "Audible Burglar Alarm",-118.4820417,34.02961111,2,
        "Audible Burglar Alarm",-118.498125,34.01658333,2,
        "Audible Burglar Alarm",-118.4679722,34.02026389,2,
        "Audible Burglar Alarm",-118.476625,34.03140278,2,
        "Audible Burglar Alarm",-118.4581528,34.01748611,2,
        "Audible Burglar Alarm",-118.5127778,34.02972222,2,
        "Audible Burglar Alarm",-118.4896389,34.01563889,2,
        "Auto Burglary Report",-118.5161944,34.02644444,2,
        "Auto Burglary Report",-118.5161944,34.02644444,2,
        "Auto Burglary Report",-118.4755,34.02166667,2,
        "Auto Burglary Report",-118.49925,34.04184722,2,
        "Auto Burglary Report",-118.4769722,34.036375,2,
        "Auto Burglary Report",-118.4729583,34.00523611,2,
        "Battery Just Occurred",-118.4984306,34.01765278,2,
        "Battery Just Occurred",-118.4629861,34.02290278,2,
        "Bike Theft Report",-118.4944861,34.0073889,2,
        "Bike Theft Report",-118.4930972,34.01544444,2,
        "Burglary Report",-118.488125,34.00769444,2,
        "Burglary Report",-118.4513611,34.01933333,2,
        "Burglary Report",-118.4867639,34.01798611,2,
        "Disturbance at a Business",-118.4953056,34.02284722,2,
        "Disturbance at a Business",-118.4984306,34.01765278,2,
        "Disturbance at a Business",-118.4968611,34.01631945,2,
        "Disturbance at a Business",-118.4987778,34.01475,2,
        "Disturbance at a Business",-118.4915833,34.01188889,2,
        "Disturbance at a Business",-118.4939444,34.01061111,2,
        "Disturbance at a Business",-118.4825139,34.01190278,2,
        "Disturbance at a Business",-118.4964722,34.01011111,2,
        "Disturbance at a Business",-118.4759583,34.02672222,2,
        "Disturbance at a Business",-118.4578611,34.02561111,2,
        "Disturbance at a Business",-118.4959167,34.02101389,2,
        "Disturbance at a Business",-118.4823194,34.01261111,2,
        "Disturbance of the Peace",-118.4908333,34.007125,2,
        "Disturbance of the Peace",-118.4853889,34.01911111,2,
        "Disturbance of the Peace",-118.4968611,34.01631945,2,
        "Disturbance of the Peace",-118.4678472,34.03719445,2,
        "Disturbance of the Peace",-118.4974167,34.01252778,2,
        "Disturbance of the Peace",-118.4956806,34.01025,2,
        "Disturbance of the Peace",-118.4624861,34.007625,2,
        "Disturbance of the Peace",-118.4828194,34.01372222,2,
        "Disturbance of the Peace",-118.489625,34.00241668,2,
        "Disturbance of the Peace",-118.4818889,34.03240278,2,
        "Disturbance of the Peace",-118.4546806,34.02615278,2,
        "Disturbance of the Peace",-118.4605694,34.01609722,2,
        "Disturbance of the Peace",-118.4755694,34.01018056,2,
        "Disturbance of the Peace",-118.4600833,34.016375,2,
        "Disturbance of the Peace",-118.4794722,34.03434722,2,
        "Disturbance of the Peace",-118.4831944,34.03927778,2,
        "Disturbance of the Peace",-118.4581528,34.01748611,2,
        "Disturbance of the Peace",-118.4905972,34.01486111,2,
        "Disturbance of the Peace",-118.4905972,34.01486111,2,
        "Disturbance of the Peace",-118.4905972,34.01486111,2,
        "Disturbance of the Peace",-118.4926111,34.01583333,2,
        "Disturbance of the Peace",-118.4786111,34.04166667,2,
        "Disturbance of the Peace",-118.4659861,34.03481944,2,
        "Disturbance of the Peace",-118.4964167,34.01275,2,
        "Health & Safety Code Violation",-118.4831389,34.01556944,2,
        "Health & Safety Code Violation",-118.4720556,34.00175,2,
        "Indecent Exposure Report",-118.4792361,33.99831944,2,
        "Malicious Mischief Now",-118.4878472,34.0035,2,
        "Malicious Mischief Report",-118.4864583,34.02473611,2,
        "Malicious Mischief Report",-118.4972222,34.01341667,2,
        "Malicious Mischief Report",-118.48725,34.02538889,2,
        "Malicious Mischief Report",-118.4956389,34.01208333,2,
        "Malicious Mischief Report",-118.4923333,34.01165278,2,
        "Missing Person",-118.489625,34.00241668,2,
        "Petty Theft Just Occurred",-118.4796111,33.99805556,2,
        "Petty Theft Just Occurred",-118.48775,34.00926389,2,
        "Petty Theft Just Occurred",-118.4978194,34.01947222,2,
        "Petty Theft Report",-118.4974861,34.01448611,2,
        "Petty Theft Report",-118.4614722,34.02372222,2,
        "Sexual Assault",-118.4839444,34.02416667,2,
        "Sexual Assault",-118.4964722,34.01011111,2,
        "Sexual Assault",-118.4923333,34.01165278,2,
        "Silent Robbery Alarm",-118.4937083,34.01755556,2,
        "Stolen Vehicle Recovered",-118.4714722,34.00244444,2,
        "Suspicious Circumstances",-118.4968611,34.01631945,2,
        "Suspicious Circumstances",-118.4589583,34.02505556,2,
        "Suspicious Circumstances",-118.4798333,34.00880556,2,
        "Suspicious Person",-118.4974861,34.01448611,2,
        "Suspicious Person",-118.4839444,34.02416667,2,
        "Suspicious Person",-118.4943611,34.01573611,2,
        "Suspicious Person",-118.5024306,34.01437504,2,
        "Suspicious Person",-118.4938472,34.01173611,2,
        "Suspicious Person",-118.4937222,34.00840278,2,
        "Suspicious Person",-118.4804722,34.02827778,2,
        "Suspicious Person",-118.4691944,34.02166667,2,
        "Suspicious Person",-118.4963889,34.02063889,2,
        "Suspicious Person",-118.508875,34.02195833,2,
        "Suspicious Vehicle",-118.4820417,34.02181944,2,
        "Suspicious Vehicle",-118.4650417,34.02180556,2,
        "Suspicious Vehicle",-118.4509444,34.02566667,2,
        "Suspicious Vehicle",-118.4976944,34.02491667,2,
        "Theft of Recyclables",-118.5069306,34.022625,2,
        "Theft of Recyclables",-118.4883611,34.00484722,2,
        "Theft of Recyclables",-118.4829583,34.04069445,2,
        "Trespassing",-118.4968611,34.01631945,2,
        "Trespassing",-118.4943611,34.01573611,2,
        "Trespassing",-118.4972222,34.01341667,2,
        "Trespassing",-118.4842778,34.02129167,2,
        "Trespassing",-118.4890139,34.01745833,2,
        "Trespassing",-118.4915833,34.01188889,2,
        "Trespassing",-118.4821944,34.01793056,2,
        "Trespassing",-118.4932778,34.00827778,2,
        "Trespassing",-118.4794861,34.02909722,2,
        "Trespassing",-118.4852917,34.00434722,2,
        "Trespassing",-118.4757222,34.00725,2,
        "Trespassing",-118.4714444,34.00402778,2,
        "Trespassing",-118.4814583,34.01305556,2,
        "Unknown Trouble",-118.4858889,34.00420833,2,
        "Assistance Call",-118.4952917,34.01497222,2,
        "Assistance Call",-118.4972222,34.01341667,2,
        "Assistance Call",-118.4888056,34.00276389,2,
        "Assistance Call",-118.4923333,34.01165278,2,
        "Assistance Call",-118.4845417,34.01141667,2,
        "Audible Burglar Alarm",-118.4962639,34.02208333,2,
        "Audible Burglar Alarm",-118.4685556,34.03929167,2,
        "Audible Burglar Alarm",-118.49625,34.01419445,2,
        "Audible Burglar Alarm",-118.49625,34.01419445,2,
        "Audible Burglar Alarm",-118.4943611,34.01573611,2,
        "Audible Burglar Alarm",-118.4800694,34.02005556,2,
        "Audible Burglar Alarm",-118.4795556,34.025125,2,
        "Audible Burglar Alarm",-118.4844167,34.01826389,2,
        "Audible Burglar Alarm",-118.4844167,34.01826389,2,
        "Audible Burglar Alarm",-118.4600139,34.01841667,2,
        "Audible Burglar Alarm",-118.4718194,34.00356944,2,
        "Audible Burglar Alarm",-118.50525,34.03134722,2,
        "Audible Burglar Alarm",-118.496875,34.02025,2,
        "Battery Report",-118.5006528,34.01718056,2,
        "Battery Report",-118.4923333,34.01165278,2,
        "Battery Report",-118.475125,34.03786111,2,
        "Burglary Report",-118.4965694,34.03102778,2,
        "Burglary Report",-118.4932778,34.00827778,2,
        "Critical Missing Person",-118.492,34.00894445,2,
        "Disturbance at a Business",-118.4915278,34.00665278,2,
        "Disturbance at a Business",-118.4959306,34.01313889,2,
        "Disturbance at a Business",-118.4952917,34.01497222,2,
        "Disturbance at a Business",-118.4956389,34.01208333,2,
        "Disturbance at a Business",-118.4954167,34.01356944,2,
        "Disturbance at a Business",-118.5012917,34.02719444,2,
        "Disturbance at a Business",-118.4823194,34.01261111,2,
        "Disturbance of the Peace",-118.4931389,34.02729167,3,
        "Disturbance of the Peace",-118.4968611,34.01631945,3,
        "Disturbance of the Peace",-118.4952917,34.01497222,3,
        "Disturbance of the Peace",-118.4937222,34.00840278,3,
        "Disturbance of the Peace",-118.488125,34.00769444,3,
        "Disturbance of the Peace",-118.4786667,34.03501389,3,
        "Disturbance of the Peace",-118.451875,34.02279167,3,
        "Disturbance of the Peace",-118.47025,34.03136111,3,
        "Disturbance of the Peace",-118.4609861,34.02397222,3,
        "Disturbance of the Peace",-118.4820972,34.00051389,3,
        "Disturbance of the Peace",-118.4768611,33.999375,3,
        "Disturbance of the Peace",-118.4895972,34.043625,3,
        "Disturbance of the Peace",-118.4930972,34.01544444,3,
        "Disturbance of the Peace",-118.4973611,34.01986111,3,
        "Disturbance of the Peace",-118.4813194,34.00759722,3,
        "Disturbance of the Peace",-118.4897778,34.01813889,3,
        "Disturbance of the Peace",-118.4801389,33.99758333,3,
        "Disturbance of the Peace",-118.4801389,33.99758333,3,
        "Fight",-118.4996111,34.02336111,3,
        "Grand Theft Report",-118.4765417,34.00793056,3,
        "Health & Safety Code Violation",-118.4918194,34.02301389,3,
        "Health & Safety Code Violation",-118.4948611,34.01141667,3,
        "Indecent Exposure Now",-118.4838611,34.01306945,3,
        "Indecent Exposure Now",-118.4784861,34.02988889,3,
        "Indecent Exposure Report",-118.4792361,33.99831944,3,
        "Malicious Mischief Report",-118.4886944,34.02822222,3,
        "Malicious Mischief Report",-118.4984306,34.01765278,3,
        "Malicious Mischief Report",-118.4937222,34.00840278,3,
        "Malicious Mischief Report",-118.4937222,34.00840278,3,
        "Missing Person",-118.4807778,34.02933333,3,
        "Missing Person",-118.4713056,34.02120833,3,
        "Missing Person",-118.4923333,34.01165278,3,
        "Person with a Gun",-118.4877361,34.00859722,3,
        "Petty Theft Now",-118.4984306,34.01765278,3,
        "Petty Theft Report",-118.4972222,34.01341667,3,
        "Petty Theft Report",-118.4845417,34.01141667,3,
        "Petty Theft Report",-118.4964167,34.01275,3,
        "Sexual Assault",-118.4861389,34.02761111,3,
        "Sexual Assault",-118.4964722,34.01011111,3,
        "Silent Robbery Alarm",-118.4796806,34.02208333,3,
        "Strongarm Robbery Just Occurred",-118.4964722,34.01011111,3,
        "Suspicious Circumstances",-118.4940833,34.01394444,3,
        "Suspicious Circumstances",-118.4882222,34.01677778,3,
        "Suspicious Person",-118.479125,34.02081944,3,
        "Suspicious Person",-118.4801806,34.03911111,3,
        "Suspicious Vehicle",-118.4783472,34.01779167,3,
        "Threats Report/Investigations",-118.4691944,34.02166667,3,
        "Trespassing",-118.4997639,34.02193056,3,
        "Trespassing",-118.4943611,34.023625,3,
        "Trespassing",-118.4943611,34.023625,3,
        "Trespassing",-118.49275,34.02223611,3,
        "Trespassing",-118.49625,34.01419445,3,
        "Trespassing",-118.4918472,34.01516667,3,
        "Trespassing",-118.4759583,34.02672222,3,
        "Trespassing",-118.4708611,34.01366667,3,
        "Trespassing",-118.4806528,34.00694444,3,
        "Trespassing",-118.4765417,34.00793056,3,
        "Trespassing",-118.4908889,34.01984722,3,
        "Trespassing",-118.5065694,34.03448611,3,
        "Unknown Trouble",-118.5000417,34.01902778,3,
        "Unknown Trouble",-118.4865417,34.00613889,3,
        "Unknown Trouble",-118.4711389,34.03844444,3,
        "Vehicle Burglar Alarm",-118.5047778,34.02306945,3,
        "Assault w/Deadly Wepaon Just Occurred",-118.4964722,34.01011111,3,
        "Auto Burglary Report",-118.4974167,34.01252778,3,
        "Battery Just Occurred",-118.4739861,34.00518056,3,
        "Critical Missing Person",-118.4857917,34.000875,3,
        "Disturbance at a Business",-118.4927639,34.01830556,3,
        "Disturbance at a Business",-118.4908889,34.01984722,3,
        "Disturbance of the Peace",-118.4959306,34.01313889,3,
        "Disturbance of the Peace",-118.4849028,34.02340278,3,
        "Disturbance of the Peace",-118.4811806,34.0155,3,
        "Disturbance of the Peace",-118.4759583,34.02672222,3,
        "Disturbance of the Peace",-118.4691944,34.02166667,3,
        "Disturbance of the Peace",-118.4892917,34.01101389,3,
        "Disturbance of the Peace",-118.4927639,34.01830556,3,
        "Disturbance of the Peace",-118.4945556,34.03008333,3,
        "Fight",-118.4964722,34.01011111,3,
        "Health & Safety Code Violation",-118.4813056,33.99938889,3,
        "Indecent Exposure Now",-118.4811806,34.01204167,3,
        "Petty Theft Just Occurred",-118.4984306,34.01765278,3,
        "Report of Shots Fired",-118.4842778,34.02129167,3,
        "Silent Robbery Alarm",-118.4955833,34.01994445,3,
        "Suspicious Circumstances",-118.4824167,34.00265278,3,
        "Suspicious Vehicle",-118.4878889,34.00519444,3,
        "Trespassing",-118.5025972,34.019625,3,
        "Trespassing",-118.4899306,34.02061111,3,
        "Audible Burglar Alarm",-118.4959167,34.01706945,3,
        "Audible Burglar Alarm",-118.4859306,34.01640278,3,
        "Indecent Exposure Now",-118.5054167,34.02125,3,
        "Suspicious Person",-118.4874583,34.03581944,3,
        "Assistance Call",-118.4885278,34.02177778,3,
        "Burglary Report",-118.5090139,34.02443056,3,
        "Death Investigation",-118.4848611,34.00730556,3,
        "Disturbance of the Peace",-118.4873194,34.00691667,3,
        "Disturbance of the Peace",-118.4983333,34.027,3,
        "Health & Safety Code Violation",-118.4965417,34.01918056,3,
        "Health & Safety Code Violation",-118.4813056,33.99938889,3,
        "Petty Theft Report",-118.48125,34.01086111,3,
        "Trespassing",-118.4911944,34.02090278,3,
        "Trespassing",-118.5006528,34.01718056,3
       ];


        var map, routeTask, routeParams, routes = [];
        var stopSymbol, barrierSymbol, routeSymbols, polygonBarrierSymbol;
        var mapOnClick_addStops_connect, mapOnClick_addBarriers_connect, mapOnClick_addPolygonBarriers_connect;
        // urlUtils.addProxyRule({
        //   urlPrefix: "route.arcgis.com",  
        //   proxyUrl: "/sproxy/"
        // });
        
        map = new Map("map", {
          basemap: "streets",
          center: [-118.457186, 34.0298551],
          zoom: 17
        });
        routeTask = new RouteTask("https://route.arcgis.com/arcgis/rest/services/World/Route/NAServer/Route_World");
        routeParams = new RouteParameters();
        routeParams.stops = new FeatureSet();
        routeParams.barriers = new FeatureSet();
        routeParams.polygonBarriers = new esri.tasks.FeatureSet();
        polygonBarrierSymbol = new esri.symbol.SimpleFillSymbol();
        routeParams.outSpatialReference = {"wkid":102100};
        //dojo.ready(function() { routeTask.on("solve-complete", showRoute); });
        routeTask.on("solve-complete", showRoute);
        routeTask.on("error", errorHandler);
                
        stopSymbol = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_CROSS).setSize(15);
        stopSymbol.outline.setWidth(3);
        // barrierSymbol = new SimpleMarkerSymbol().setStyle(SimpleMarkerSymbol.STYLE_X).setSize(10);
        // barrierSymbol.outline.setWidth(3).setColor(new Color([255,0,0]));
        routeSymbols = {
          "Route 1": new SimpleLineSymbol().setColor(new Color([0,0,255,0.5])).setWidth(5),
          "Route 2": new SimpleLineSymbol().setColor(new Color([0,255,0,0.5])).setWidth(5),
          "Route 3": new SimpleLineSymbol().setColor(new Color([255,0,255,0.5])).setWidth(5)
        };
                        
        //button click event listeners can't be added directly in HTML when the code is wrapped in an AMD callback
        on(dom.byId("addStopsBtn"), "click", addStops);
        on(dom.byId("clearStopsBtn"), "click", clearStops);
        on(dom.byId("addBarriersBtn"), "click", addBarriers);
        on(dom.byId("clearBarriersBtn"), "click", clearBarriers);
        on(dom.byId("solveRoutesBtn"), "click", solveRoute);
        on(dom.byId("clearRoutesBtn"), "click", clearRoutes);

        on(dom.byId("bufferzone"), "click", showBufferZones);
        on(dom.byId("icons"), "click", showIcons);
      
        //Begins listening for click events to add stops
        function addStops() {
          removeEventHandlers();
          mapOnClick_addStops_connect = map.on("click", addStop);
        }
        //Clears all stops
        function clearStops() {
          removeEventHandlers();
          for (var i=routeParams.stops.features.length-1; i>=0; i--) {
            map.graphics.remove(routeParams.stops.features.splice(i, 1)[0]);
          }
        }
        //Adds a stop. The stop is associated with the route currently displayed in the dropdown
        function addStop(evt) {
          routeParams.stops.features.push(
            map.graphics.add(
              new esri.Graphic(
                evt.mapPoint,
                stopSymbol,
                { RouteName:dom.byId("routeName").value }
              )
            )
          );
          //
          console.log("addStop", evt.mapPoint);
        }
        //Begins listening for click events to add barriers
        function addBarriers() {
          removeEventHandlers();
          mapOnClick_addBarriers_connect = on(map, "click", addBarrier);
        }
        //Clears all barriers
        function clearBarriers() {
          // clearAll();

          // //Create a new PictureMarkerSymbol based on the static image and set a few properties.
          // //Change url to customize
          // // Create barriers
          // barrierSymbol = new esri.symbol.PictureMarkerSymbol({
          //                                 "angle": 0,
          //                                 "xoffset": 0,
          //                                 "yoffset": 12,
          //                                 "type": "esriPMS",
          //                                 "url": "http://static.arcgis.com/images/Symbols/Basic/YellowStickpin.png",
          //                                 "contentType": "image/png",
          //                                 "width": 24,
          //                                 "height": 24
          //                                 });

          // console.log("showIcons() middle");

          // for (var i = 0; i < data.length; i = i+4) {
            
          //   if(data[i+3] > 2) {
          //     console.log(data[i+2]+', '+data[i+1]+'\n');
          //     routeParams.barriers.features.push(
          //       map.graphics.add(
          //         new esri.Graphic(
          //           new esri.geometry.Point(data[i+1], data[i+2]),
          //           barrierSymbol
          //         )
          //       )
          //     );
          //   }
          // }
        }
        //Adds a barrier
        function addBarrier(evt) {
          routeParams.barriers.features.push(
            map.graphics.add(
              new esri.Graphic(
                evt.mapPoint,
                barrierSymbol
              )
            )
          );
          //
          console.log("addBarrier", evt.mapPoint);
        }
        //Load-in barrier circle(polygon)
        function addCircleBarrier(long, lat, severity) {
          //op as opacity, radius as radius
          var op, radius;
          if(severity == 1) {
            op = 0.05;
            radius = 0.0004;
          }
          else if(severity == 2) {
            op = 0.15;
            radius = 0.0007;
          }
          else {
            op = 0.25;
            radius = 0.001;
          }
          //Change circle color
          polygonBarrierSymbol.setColor(new Color([255,0,0,op]));
          //Change circle outline
          polygonBarrierSymbol.setOutline(
            new SimpleLineSymbol(esri.symbol.SimpleLineSymbol.STYLE_SOLID, new Color([255,255,255,0]), 2));
          var center = new esri.geometry.Point([long, lat]);
          var ring = []; // point that make up the circle
          var pts = 40; // number of points on the circle
          var angle = 360 / pts; // used to compute points on the circle
          for(var i = 1; i <= pts; i++) {
            // convert angle to raidans
            var radians = i * angle * Math.PI / 180;
            // add point to the circle
            ring.push([center.x + radius * Math.cos(radians), center.y + radius * Math.sin(radians)]);
            
            //
            console.log("x", center.x + radius * Math.cos(radians));
            console.log("y", center.y + radius * Math.sin(radians));
          } 
          ring.push(ring[0]); // start point needs to == end point
          var circle = new esri.geometry.Polygon(ring);
          routeParams.polygonBarriers.features.push(  
              map.graphics.add(
                new esri.Graphic(
                  circle,
                  polygonBarrierSymbol)
                )  
            );
        }
        //Remove all circle(polygon) barriers
        function clearCircleBarrier() {
          removeEventHandlers();
          for (var i=routeParams.polygonBarriers.features.length-1; i>=0; i--) {
            map.graphics.remove(routeParams.polygonBarriers.features.splice(i, 1)[0]);
          }
        }
        //Stops listening for click events to add barriers and stops (if they've already been wired)
        function removeEventHandlers() {        
          if (mapOnClick_addStops_connect) {
            mapOnClick_addStops_connect.remove();
          }
          if (mapOnClick_addBarriers_connect) {
            mapOnClick_addBarriers_connect.remove();
          }
          if (mapOnClick_addPolygonBarriers_connect) {
            mapOnClick_addPolygonBarriers_connect.remove();
          }
        }
        //Solves the routes. Any errors will trigger the errorHandler function.
        function solveRoute() {
          //Make sure data is ready?
          //dojo.ready(function() {
            removeEventHandlers();
            routeTask.solve(routeParams);
          //});
        }
        //Clears all routes
        function clearRoutes() {
          for (var i=routes.length-1; i>=0; i--) {
            map.graphics.remove(routes.splice(i, 1)[0]);
          }
          routes = [];
        }
        //Draws the resulting routes on the map
        function showRoute(evt) {
          //Make sure data is ready?
          //dojo.ready(function() {
            clearRoutes();
            array.forEach(evt.result.routeResults, function(routeResult, i) {
              routes.push(
                map.graphics.add(
                  routeResult.route.setSymbol(routeSymbols[routeResult.routeName])
                )
              );
            });
            
            var msgs = ["Server messages:"];
            array.forEach(evt.result.messages, function(message) {
              msgs.push(message.type + " : " + message.description);
            });
            // if (msgs.length > 1) {
            //   alert(msgs.join("\n - "));
            // }
          //});
        }
        //Reports any errors that occurred during the solve
        function errorHandler(err) {
          alert("An error occured\n" + err.message + "\n" + err.details.join("\n"));
        }
        //Clear all
        function clearAll() {
          clearStops();
          clearBarriers();
          clearCircleBarrier();
          clearRoutes();
        }
        
        map.on("load", function() {
          // Create street lights
          var featureLayer = new esri.layers.FeatureLayer("http://services1.arcgis.com/p84PN4WZvOWzi2j2/arcgis/rest/services/StreetLights/FeatureServer/0",{
            mode: esri.layers.FeatureLayer.MODE_ONDEMAND,
            outFields: ["*"]
          });
          map.addLayer(featureLayer);

          //Default
          // showBufferZones();          
        });
        
        function showBufferZones() {
          console.log("showBufferZones() called");

          clearAll();

          for (var i = 0; i < data.length; i = i+4) {
             console.log(data[i+2]+', '+data[i+1]+'\n');

             addCircleBarrier(data[i+1], data[i+2], data[i+3]);
           }
        }

        function showIcons() {
          console.log("showIcons() called");

          clearAll();

          //Create a new PictureMarkerSymbol based on the static image and set a few properties.
          //Change url to customize
          // Create barriers
          barrierSymbol = new esri.symbol.PictureMarkerSymbol({
                                          "angle": 0,
                                          "xoffset": 0,
                                          "yoffset": 12,
                                          "type": "esriPMS",
                                          "url": "http://static.arcgis.com/images/Symbols/Basic/YellowStickpin.png",
                                          "contentType": "image/png",
                                          "width": 24,
                                          "height": 24
                                          });

          console.log("showIcons() middle");

          for (var i = 0; i < data.length; i = i+4) {
            
            //if(data[i+3] > 2) {
              console.log(data[i+2]+', '+data[i+1]+'\n');
              routeParams.barriers.features.push(
                map.graphics.add(
                  new esri.Graphic(
                    new esri.geometry.Point(data[i+1], data[i+2]),
                    barrierSymbol
                  )
                )
              );
            //}
          }
        }

      });
    </script>

  </head>
  <body>
    <div id="safefast"> 
      Select Route Setting
      <select id="routeName">
        <option value="Route 1">Safe</option>
        <option value="Route 2">Balanced</option>
        <option value="Route 3">Fast</option>
      </select>
    </div>
    <div id="routecreation">
      <button id="addStopsBtn">Add Stops</button>
      <button id="clearStopsBtn">Safe</button>
      <button id="addBarriersBtn">Balance</button>
      <button id="clearBarriersBtn">Fast</button>
      <button id="solveRoutesBtn">Solve Routes</button>
      <button id="clearRoutesBtn">Clear Routes</button>
    </div>
   <!--   <img src="images/murder.png" /> -->
    <div id="centerpage">
      <div id="map" style="width:900px; height:600px;"></div>
      <form id="extrasettings">
        <p>Choose display for Crime Data</p>
        <input type="radio" name="myRadioButtons" id="bufferzone" value="1" checked/> Buffer Zone<br>
        <input type="radio" name="myRadioButtons" id="icons" value="2" unchecked/> Icons<br><br>
        <input type="checkbox" checked="checked" id="streetlights"/>Display Street Lights?<br>
        </form>
    </div>
    <div id="erroralert">
      <p>Any server error messages will be displayed in an alert box.</p>
    </div>
  </body>
</html>