body {
	font-family: Arial, Helvetica, San-serif;
}

#centerpage {
	display:block;
	float: left;
	margin-bottom: 30px;
	outline: #000 solid 1px;
	background-color: black;
}

#extrasettings {
	margin-top: 120px;
	margin-left: 15px;
	margin-right:15px;
	padding: 0px 5px 5px 10px;
	position:relative;
	float: left;
	
	color: white;
}

#map {
	position:relative;
	float: left;
	
}

#safefast {
	display:block;
	float: left;
	margin-left: 50px;
	margin-right: 140px;
	
}

#routecreation {	
	margin-bottom: 10px;
}

#routeName{
    border: 0;
    box-shadow: none;
    font-size: 10pt;
}

#erroralert {
    float: left;
    clear: left;
    display:inline
    outline: #000 solid 1px;
}

button {
	margin: 0 10px;
	font-size: 10pt;
	height: 20px;
	background-color: #dcdcdc;
	border: 0;
	color:#000;
	text-decoration:none;
}
